
{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}brady_precipice{% endblock %}
{% block section_link %}State Funding{% endblock %}

{% block name %}Henry Brady{% endblock %}
{% block title %}Dean, Goldman School of Public Policy{% endblock %}
{% block main_img %}brady{% endblock %}
{% block exhibit_credit %}Kore Chan / Senior Staff{% endblock %}
{% block subtitles %}

One of the most important things that I've always admired when I think about painful moments in organization’s history, in nation’s history, in society’s history, is this importance of embracing the truth and I have the strong belief that as examples like nelson mandela said around the world of truth and reconciliation, that acknowledgment of a painful past and acknowledgment that the work of society is never ending and continuous, and acknowledgment of not being self satisfied is a really important aspect of being able to strengthen one’s self as a community.
<br>
<br>
{% endblock %}