{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}clayborne-celebration{% endblock %}
{% block section_link %}Clayborne : Reclaim Harvard Law{% endblock %}

{% block name %}AJ Clayborne{% endblock %}
{% block title %}Law School Student Activist{% endblock %}
{% block main_img %}clayborne{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
Well we were quite pleased with the committee's decision and we were pleased with the corporation's decision as well, it's one step, it’s one fight that we were able to win, and that always deserves a fair amount of celebration, but we ultimately need to shift our focus to the other aspects of institutionalized racism we face here, to try and take that down as well. In a nutshell, we're pleased but, determined to keep fighting. 
 
<br/>
{% endblock %}