{% extends 'slide_templates/topic.html' %}

{% block extra_class %}intro{% endblock %}
{% block bgimage %}img/lawsealnew.jpg{% endblock %}

{% block section_link %}Introduction{% endblock %}

{% block slide_content %}
<p>Though both the House master title and the Law School seal changed this spring, the debate about names and symbols persists. Some have wondered about other sites on campus, like Mather House, named for a former Harvard president who was a slaveholder. It seems like a slippery slope, some say, or, perhaps, a refusal to come to terms with the Harvard of the past, which slaves helped build. But Faust defends the decisions to change these names and symbols, calling on Harvard to remember its past, to memorialize and honor the lives of the slaves of Harvard’s history.

In early April, Faust dedicated a small plaque on Wadsworth House, a yellow building named after a former Harvard president, to four slaves who lived and worked on Harvard’s campus: Titus, Venus, Bilah, and Juba. 
</p>

{% endblock slide_content %}
