{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}coquillette-royall{% endblock %}
{% block section_link %}Coquillette : Recognize Contribution{% endblock %}

{% block name %}Daniel R. Coquillette{% endblock %}
{% block title %}Co-author of “On the Battlefield of Merit: Harvard Law School, the First Century”{% endblock %}
{% block main_img %}coquillette{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
 I think on the one hand that as Annette Gordon-Reed has said, you don't change the history of the school by taking the seal away. The school was founded by Isaac Royall; there's slave money in the founding of the original chair in the school. the antiguans know this and the antiguans are very much aware of it. On the other hand, if it's a little bit like being in a classroom with a Confederate flag. At some point at which the students' sensitivities are really going to be exacerbated every day.You see this symbol every day: it's on all the podiums, it's on the rugs, it's on the stationary, it's on the coursebooks.The way i've come out is to say if we're going to do this—and we are going to do it—we better pay a lot of attention to the underlying issues and I think the best way to start is by reaching out to the people of Antigua and recognizing the contribution that they made. 

{% endblock %}