{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}faust-shield{% endblock %}
{% block section_link %}Faust: Shield{% endblock %}

{% block name %}Drew G. Faust{% endblock %}
{% block title %}President, Harvard University{% endblock %}
{% block main_img %}faust{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
It’s more or less an invented tradition that was designed by a professional heraldist in 1936 for the tercentenary celebrations. It was not much used until very recently when it proved to be a convenient resource when the world of branding hit us all and we all started to think of how to brand ourselves. It's almost an accidental rather than a deeply historical part of the law school, so that was part of the influence on our thinking. 

<br/>
<br/>
So if the shield is not something that can be a unifying symbol why do we have it at all. It seemed appropriate as we approached the 200th anniversary of the law school to say to the law school design a symbol for yourselves that does represent you and that isn’t accidental and contracted out to a heraldist and almost not noticed for the first number of decades of its existence.
<br/>
{% endblock %}