{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}faust-conclusion{% endblock %}
{% block section_link %}Faust: Grappling with History{% endblock %}

{% block name %}Drew G. Faust{% endblock %}
{% block title %}President, Harvard University{% endblock %}
{% block main_img %}faust{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvard Crimson Photographer{% endblock %}
{% block subtitles %}
One of the issues that we’ve been talking about is what history do we erase, what history ought to be removed and do we not want to have so central in our minds. I wanted to also look at the other side of this, which is what history haven’t we seen and that we should confront and that we’ve either ignored or hidden or denied, and how do we really grapple with our history in a way that fully takes it into account.
<br/>
<br/>
It’s not just anonymous individuals, we actually can think of them as particular human beings who had names, who were enslaved, and who did work in a way that supported harvard and enabled its growth. We need to remember that. And I thought that both underscoring them as individuals and their contribution and underscoring the presence of the institution of slavery was a very important thing to, and that the plaque at Wadsworth House could begin to do that. 


 <br/>
{% endblock %}