{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}A Devisive Seal{% endblock %}

{% block subhed %}A Divisive Seal{% endblock %}
{% block description %}
After about four months of debate and protest, the Law School decided to change its seal, which features the crest of the former slaveholding Royall family. In a deeply-researched report recommending the change,the Law School committee Minow convened wrote that the seal did not reflect the value of the school and was arbitrarily chosen a century after the school's founding. Both the committee and Faust, though, asserted the case of the Law School seal was particular. “The Committee recognizes that names from the past associated with now-rejected beliefs and practices litter the present, often in places of apparent honor,” they wrote in their report. “We take no position on what, if anything, should be done with them, other than to note that titles and buildings are individual pieces of an institution and are not presented as the official symbol of the institution itself.” 
{% endblock %}

{% block exhibit %}
<div class="timeline-wrapper">
  <div class="timeline">
                            <div class="vbar"></div>
                            <ol class="timeline-events">
        
                                <li class="timeline-event">
                                    <span class="time">October 23,2015<span> </span></span>
                                    <span class="ttext">Activists kick off “Royall Must Fall” campaign advocating for the removal of Harvard Law School’s seal—the coat of arms of a former slaveholding family. 
</span>
                                </li>
                                
                                <li class="timeline-event">
                                    <span class="time">November 30,2015<span> </span></span>
                                    <span class="ttext">Law School Dean Martha L. Minow appointed a committee to reconsider the school’s seal. </span>
                                </li>
                                
                                <li class="timeline-event">
                                    <span class="time">March 4, 2016<span> </span></span>
                                    <span class="ttext">The Law School committee Minow convened recommended that the Harvard Corporation revoke the seal’s status as the school’s official symbol.
</span>
                                </li>
                                
                                <li class="timeline-event">
                                    <span class="time">March 15, 2016<span> </span></span>
                                    <span class="ttext">The Harvard Corporation—the University’s highest governing body—officially allowed the Law School to remove and replace its seal.

</span>
                                </li>
                            </ol>
</div>
</div>
{% endblock %}