{% extends 'slide_templates/topic.html' %}

{% block extra_class %}intro{% endblock %}
{% block bgimage %}img/lawseal.jpg{% endblock %}

{% block section_link %}What's in a name?{% endblock %}

{% block slide_content %}
<p><strong>Symbols. Seals. Buildings. Names.</strong></p>

<p>Contentious debate about the history of slavery on college campuses erupted during the past year, provoking universities across the world to examine themselves and the people they honor. At Harvard, those debates have focused on symbols and titles associated, to some degree, with slavery. </p>

<p>Two topics came under particular scrutiny:  the title of Harvard’s undergraduate House masters, who lead the school’s 12 residential Houses, and the Law School’s official seal, which bears the crest of a former slaveholding Royall family. </p>

<p>Both the title and the seal have since changed. </p>

<p>Last fall, student activists at the Law School lobbied Dean Martha L. Minow to remove the seal—Isaac Royall Jr., who helped endow Harvard’s first law professorship, came from the slaveholding family whose coat of arms was featured on the seal. Ultimately, after months of deliberation, a committee Minow appointed in the wake of students’ demands recommended to the Harvard Corporation that the seal be removed as the school’s official symbol.  Why? The seal was not a grounding part of the school’s history, Minow and the committee argued. Isaac Royall Jr.  had nothing to do with the founding of the Law School. The decision to use his family’s crest as the school’s seal was arbitrary and worthy of reversal, they argued. </p>

<p>Conversations of the same sentiment occurred at the College, though without the protests. In December, Rakesh Khurana, Dean of Harvard College, announced that the House masters agreed to change their name, arguing that perceived associations with slavery the term “master” invoked could make students uncomfortable; the term itself has no known etymological connection to slavery. In February, Dean of the Faculty of Arts and Sciences, Michael D. Smith, revealed their new name: Faculty Dean. Titles send a message, Smith wrote in an email at the time. They “can and should change when such a change serves our mission.” </p>

<p>Though Harvard revoked both the name and the seal, the broader debate is far from over. Some critics have claimed such changes constitute an erasure of the past, that Harvard is not owning up to legacies of slavery at the school. Others argue such changes are merely cosmetic and will do little to improve racial dynamics at Harvard. Now, Harvard is reexamining other sites on campus that may be associated with slavery.</p>

{% endblock slide_content %}


