{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}khurana-history{% endblock %}
{% block section_link %}Khurana: Acknowledging History{% endblock %}

{% block name %}Rakesh Khurana{% endblock %}
{% block title %}Dean, Harvard College{% endblock %}
{% block main_img %}khurana{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
One of the most important things that I've always admired when I think about painful moments in organization’s history, in nation’s history, in society’s history, is this importance of embracing the truth and I have the strong belief that as examples like nelson mandela said around the world of truth and reconciliation, that acknowledgment of a painful past and acknowledgment that the work of society is never ending and continuous, and acknowledgment of not being self satisfied is a really important aspect of being able to strengthen one’s self as a community.
<br>
<br>
{% endblock %}