{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}khurana-portraits{% endblock %}
{% block section_link %}Khurana: engaging with the past{% endblock %}

{% block name %}Rakesh Khurana{% endblock %}
{% block title %}Dean, Harvard College{% endblock %}
{% block main_img %}khurana{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
Some of the most powerful events that I've been to in many ways in the recent past has been first of all the changing portraiture to see new portraits go up. For example, in Annenberg, we have the portrait of the first Wampanoag Native American who was admitted to Harvard, Cheeshahteaumuck Caleb, and to me to see that portrait alongside the others is an important message. I think it sends something that in fact does show that the importance again of the past and engaging with the past, inquiring about the past, interrogating the past, brings things like that to happen. 

{% endblock %}