{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}kreiger-symbol{% endblock %}
{% block section_link %}Kurt C. Kreiger{% endblock %}

{% block name %}Kreiger : Confronting Discomfort{% endblock %}
{% block title %}Third Year Law School Student{% endblock %}
{% block main_img %}kreiger{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
Kind of a problem I see in the world and especially here on these Ivy League campuses is we're very focused on ourselves, we get into these school we spend a lot of time writing our personal essays about how we’re going to change the world, make the world a better place, but then we get here, it seems like all these campaigns we have as students are focused kind of inward, on ways that we can make ourselves, improve our own situations—in the case of the seal, make ourselves feel more comfortable.
<br/>
<br/>
A lot of people who talk about changing the seal say that when they see it it makes them uncomfortable,  when they see it, cuz that was the seal of a family that owned slaves at one point. And I think that’s a little ironic, and I pointed to this in my piece a little bit, that we're so focused on getting that changed that we fail to realize and fail to kind of, to address, that there's modern slaves around the world today.
<br/>
<br/>
I think that  we can remove all the symbols of slavery in the world - at the end of the day the world is going to have  just as many slaves and it’s going to have, be  just as awful as it would if we didn't remove these symbols. 
<br/>
{% endblock %}