{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}mann-seal{% endblock %}
{% block section_link %}Mann : Not a Slippery Slope{% endblock %}

{% block name %}Bruce H. Mann{% endblock %}
{% block title %}Law Professor and Seal Review Committee Chair{% endblock %}
{% block main_img %}mann{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
“The notion of, that by removing the Royall crest, that we’re somehow tumbling down a slippery slope that says we should also rename Washington D.C., or move statues of Thomas Jefferson, those arguments are silly because Washington and Jefferson, yes they’re both slaveholders but they have independent claims on history and we honor them for that, at the same time that we grapple with the complexity posed by their reality as slaveholders, so you have to understand why you associate yourself with a person or a family”
<br/>
{% endblock %}