{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}mansfield-weakness{% endblock %}
{% block section_link %}Mansfield : Preemptive Surrender{% endblock %}

{% block name %}Harvey C. Mansfield{% endblock %}
{% block title %}Government Professor{% endblock %}
{% block main_img %}mansfield{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
Well, in this case it’s a show of weakness, I would say. It was a premature, preemptive surrender to a student demand, which didn't really come.
<br/>
<br/>
Students should not be in charge of Harvard. they should be heard, but they should not be in charge, and especially a small minority, and especially one that has socially political demands. What we need to avoid is the use of Harvard, Harvard’s name to promote a certain political position, and that’s essentially what was done here. 
<br>
<br>
{% endblock %}