{% extends 'slide_templates/titlecard.html' %}

{% block section_link %}House Master{% endblock %}

{% block subhed %}Titles Send a Message{% endblock %}
{% block description %}
After little public prompting, Harvard’s House masters chose unanimously to change their title, which some people believed was associated with slavery. They accepted a new title, Faculty Dean, several months later. In announcing the new title for the leaders of Harvard’s undergraduate Houses, Dean of the Faculty of Arts and Sciences, Michael D. Smith, acknowledged that he had not yet been shown evidence of any connection between the term House master and slavery, but that “titles send a message.” 
{% endblock %}

{% block exhibit %}
<div class="timeline-wrapper">
	<div class="timeline">
                            <div class="vbar"></div>
                            <ol class="timeline-events">
        
                                <li class="timeline-event">
                                    <span class="time">March 5<span> </span></span>
                                    <span class="ttext">The Spee Club apologizes for circulating a controversial party invitation that some students and Dean of the College Rakesh Khurana later criticized.</span>
                                </li>
                                
                                <li class="timeline-event">
                                    <span class="time">March 30<span> </span></span>
                                    <span class="ttext">"The College continues to support the idea that…single-gendered organizations are not appropriate for the College," Khurana says in a feature on the College's precarious relationship with final clubs.</span>
                                </li>
                                
                                <li class="timeline-event">
                                    <span class="time">May<span> </span></span>
                                    <span class="ttext">Following a year of administrative scrutiny, the Fox club adopts a no guest policy in an effort to reduce liability.</span>
                                </li>
                                
                            </ol>
</div>
</div>
{% endblock %}