{% extends 'slide_templates/narrative-audio.html' %}

{% block narrative %}rosengarten-smith{% endblock %}
{% block section_link %}Rosengarten : Reaching Consensus{% endblock %}

{% block name %}Michael D. Rosengarten{% endblock %}
{% block title %}Mather House Faculty Dean{% endblock %}
{% block main_img %}rosengarten{% endblock %}
{% block exhibit_credit %}Thomas Frank / Harvrad Crimson Photographer{% endblock %}
{% block subtitles %}
If everybody wanted to change the name, I wouldn't have a problem with that. We change names all the time. The Holyoke Center is now the Smith Center so names, we just changed our title, I think some of the alumni might not be too happy about that because they associate with the name but I think you have to look at things in the modern context and see how they fit. But this is much more difficult because the roots are so deep and they are so wide spread. 
<br>
<br>
{% endblock %}