{% block slide_wrapper %}
<div class="slide start" data-bgimage="img/lawseal.jpg">
    {% block slide_body %}
    <div class="text full-block">
        <div class="full-block-cell">
            <div class="full-block-content">
                <div class="full-block-header">
                    The Harvard Crimson
                </div>
                <div class="row-container">
                <div class="row">
                    <h1>What's in a name?</h1>
                    <h2>Symbols. Seals. Buildings. Names.</h2>
                    <h4>May 2, 2016</h4>
                    <h3>Contributors: Ivan Levingston, Noah and Ted, Meg, Pradeep, Samuel Kaplan</h3>
                </div>
            </div>

                

                <!-- <p class="sound-prompt">Put on your headphones and hit the right arrow.</p> -->
                
            </div><!--full-block-content-->
                
        </div><!--full-block-cell-->
    </div><!--full-block-->
    {% endblock slide_body %}
</div><!--slide-->
{% endblock slide_wrapper %}