{# Twitter #}
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:description" content="Symbols. Seals. Buildings. Names."/>
<meta name="twitter:title" content="What's in a name? | The Harvard Crimson"/>
<meta name="twitter:site" content="@harvardcrimson"/>
<meta name="twitter:domain" content="The Harvard Crimson"/>
<meta name="twitter:image" content="http://media.thecrimson.com.s3.amazonaws.com/photos/2016/02/24/020246_1313156.jpg"/>
<meta name="twitter:creator" content="@harvardcrimson"/>

{# Facebook #}
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="What's in a name? | The Harvard Crimson" />
<meta property="og:url" content="http://features.dailycal.org/2016/whats-in-a-name/" />
<meta property="og:type" content="article" />
<meta property="og:description" content="Symbols. Seals. Buildings. Names." />
<meta property="og:image" content="http://media.thecrimson.com.s3.amazonaws.com/photos/2016/02/24/020246_1313156.jpg"/>
<meta property="og:site_name" content="The Harvard Crimson"/>
<meta property="article:publisher" content="https://www.facebook.com/TheHarvardCrimson/"/>